/* reset css */
body {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* common css */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* carousel css */
.carousel {
    width: 755px;
    height: 450px;
    margin: 50px auto 0 auto;
    overflow: hidden;
    position: relative;
}
.carousel .img-list {
    position: absolute;
}
.carousel .img-list .item {
    float: left;
}
.carousel .item > a {
    display: block;
    line-height: 0;
}
.carousel .item img {
    width: 755px;
    height: 450px;
}

.carousel .arrow {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel .arrow:hover{
    background-color: rgba(0, 0, 0, 1);
}
.carousel .arrow-next {
    right: 12px;
}
.carousel .arrow-pre {
    left: 12px;
}

.carousel .pagination {
    z-index: 5;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.carousel .pagination > li {
    width: 10px;
    height: 10px;
    margin: 0 5px 0 5px;
    border-radius: 50%;
    background-color: #FEFEFE;
    cursor: pointer;
    float: left;
}
.carousel .pagination > li.active {
    background-color: #FFC820;
}